# datasets::state.abb is also used but importFrom("datasets", "state.abb")
# seems not acceptable syntax.
importFrom("graphics",
           "boxplot")
importFrom("stats", "aggregate", "approx",
                    "complete.cases", "cor", "cor.test",
                    "filter",
                    "median", "quantile", "qnorm")
importFrom("utils", "write.table")
importFrom("grDevices", "dev.off", "grey", "pdf")
importFrom("graphics", "abline", "axTicks", "axis", "legend",
                       "lines", "mtext", "par", "plot",
                       "points", "text")
importFrom("stringr",  "str_to_upper")
#-----------------------------------------------
importFrom("dataRetrieval",
           "readNWISdv", "renameNWISColumns", "readNWISsite")
importFrom("lmomco", "add.log.axis", "add.lmomco.axis",
           "lmoms", "qlmomco", "lmom2par")
importFrom("sp",
           "spTransform", "CRS", "SpatialPointsDataFrame")
#-----------------------------------------------
export(akqdecay)
export(akq_counts)
export(akq_globe)
export(akq_lmom)
export(akq_lmom_yeardecade)
export(akq_lmom_year)
export(akq_lmom_decade)
export(akq_na)
export(akq_plotfdc)
export(akq_rm)
export(akq_summary)
export(akq_table)
export(akq_write)
export(akq_scibase)
export(akq_summaryfilter)
export(countLMdfs)
export(dvget)
export(dvpart)
export(dvpart2mnpart)
export(dvpartenv2mnpartenv)
export(mnget)
export(dvoverlap)
export(fdclmr)
export(fdctrend)
export(fill_akqenv)
export(fill_akqenv_parallel)
export(fill_dvpartenv)
export(fill_dvenv)
export(fill_mnenv)
export(fill_tfdcenv)
export(fill_lmrfdcenv)
export(gfredo)
export(lmrdf2gfactor)
export(lmrfdc_table)
export(gsid2str)
export(sites_to_SpatialPointsDataFrame)
export(sites_by_state)
export(visFDCtrend)
